html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: oldlace;
    font-family: monospace;
}

.navbar ul {
    list-style: none;
    background-color: darkgray;
    padding: 0;
    margin: 0;
    text-align: right;
}

.navbar li {
    display: inline-block;
    font-size: 16px;
}

.navbar a {
    text-decoration: none;
    color: darkgreen;
    width: 200px;
    display: block;
    padding: 25px 20px;
    text-align: center;
}

.navbar a:hover {
    background-color:dimgray;
}

#about-me {
    border-style: solid;
    margin: 50px;
    padding: 50;
    background-color: burlywood;
    display: inline-block;

}
#about-me img {
    height: 200px;
    float: left;
    margin-right: 20px;
    border-radius: 10px;
}

#works{ 
    margin: 50px;
    padding: 50;
    /* position: relative;  */
    /* background-color: burlywood; */
 }

 #works div {
    padding: 10;
 }
 
 .portfolio { 
    position: relative; 
    width: 100%; /* for IE 6 */
 }

 .password {
    position: relative;
 }
 
 .portfolio h6, .password h6, .group-project-1 h6 { 
    position: relative; 
    top: 10px; 
    left: 0; 
    width: 100%; 
 }

.portfolio h6 { 
    font-size: x-large;
 }
 
.portfolio h6 span, .password h6 span, .group-project-1 h6 span {
    color: white;
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 

 }

#contact ul {
    list-style: none;
    text-align: center;
 }

#contact li {
    display:inline-block;
    padding: 25px;
 }
